.LastSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.LastSection .FirstSec{
    width: 40%;
    
    && h4{
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    && button{
        border: 1px solid gray;
        border-radius: 50px;
        padding: 0.5rem;
        font-size: 0.6rem;
    }

    && button:nth-last-child(1){
        background: black;
        color: whitesmoke;
        border: none;
    }
}

.LastSection .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 20px;
    color: whitesmoke;


    && >button{
        border: none;
        width: 60%;
        color: whitesmoke;
        background: linear-gradient(to right ,rgba(245, 245, 245, 0.7), rgba(245, 245, 245, 0.1));
        border-radius: 50px;
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
    }

    && .One{
        justify-content: space-between;   
    }

    && p{
        font-size: 0.7rem;
        font-weight: 300;
        width: 70%;
    }
}

.LastSection>.card{
    background-image: url("../Badminton2.avif");
    height: 25vh;
    background-position: center;
    background-size: cover;
    
    && .One > button{
        padding: 0.5rem;
        border: none;
        border-radius: 50%;
        background-color: black;
        color: white;
    }
}

.LastSection .Image-Last > .card{
    background-image: url("../Tennnis_balls.avif");
    background-position: right;
    background-size: cover;
    
    height: 20vh;
}