.SecondSection .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SecondSection .first p{
    width: 50%;
}
.SecondSection .first button{
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.SecondSection .midCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.SecondSection .midCard .card {
    width: 33.33%;
    border-radius: 20px;
    color: whitesmoke;
    height: 25vh;
    display: flex;
}
.SecondSection .midCard .card:nth-child(2) {
    background-image: url("../Fitness Image.avif");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    && button{
        padding: 0.5rem;
        background: linear-gradient(to right, gray, rgba(128, 128, 128, 0.2));
        
        border: 1px solid rgba(0, 0, 0, 0.203);
        color: whitesmoke;
        border-radius: 50px;
    }
}
.SecondSection .midCard .card:nth-child(1) {
    padding:  1rem 0.5rem;
    background-color: #0D1A2D;
    flex-direction: column; 
    gap: 0.7rem;

    && h3{
        font-size: 0.9rem;
        font-weight: 500;
    }

    && .One h4{
        font-size: 1rem;
    }
}
.SecondSection .midCard .card:nth-child(3) {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 0.5rem;

    && h4{
        font-size: 0.8rem;
    }

    && .bottom ul{
        list-style-type: none;
    }
    && .bottom ul .One{
        justify-content: space-between;
    }
}

.One{
    display: flex;
}
.Extras h5{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.Extras .Info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    && .One{
        flex-direction: column;
        text-align: center;

        && p{
            font-size: 0.8rem;
            color: gray;
        }
    }
}