.MainSection{
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.MainSection> button{
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.347);
  border-radius: 50px;
  cursor: pointer;
}

.MainSection> button:hover{
  background-color: rgb(188, 188, 188);
}

.MainSection h4{
    font-size: 1.7rem;
}

.WebPage{
    width: 100%;
    /* height: 100%; */
    padding: 0 1rem;
    margin: 1.5rem 0; 
    background-color: whitesmoke;
}

.WebPage .Image{
  margin: 1.5rem 0;
  width: 100%;
  height: 40%;
  border-radius: 2%;
  overflow: hidden;
  background-image: url("../BadmintonImage1.avif");
  background-position: top;
  background-size: cover;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Image .middle{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.Image .middle h3{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.Image .middle p{
  padding: 0 1.2rem;
  font-size: 0.8rem;
  font-weight: 200;
} 

.Image .middle button{
  padding: 10px 20px;
  font-size: 0.5rem;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.347);
  border-radius: 50px;
  cursor: pointer;
  color: whitesmoke;
}

.Image .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.Image .bottom .left ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.2rem;
  font-size: 0.5rem;
  text-decoration: dashed;
  cursor: pointer;
}

.Image .bottom .left ul li:hover{
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.408);
  padding: 0.2rem;
  border-radius: 50px;
}

.Image .bottom .right p{
  font-size: 0.5rem;
  padding: 0 0.5rem;
}