@import "tailwindcss";

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* html,body,#root{
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */