*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  padding: 0 5rem;
  background-color: #dcdada;
}